.title {
    color: #F3A505;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}

.list {
    display: flex;
}

.item {
    margin-left: auto;
    margin-right: 24px;
    padding: 5px;
    font-weight: 500;
    font-size: 18px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.item:last-child {
    margin-right: auto;
    margin-left: 24px;
}