.form{
     display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.input {
    width: 250px;
    height: 45px;
    padding: 0 10px;
    margin-right: 10px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
    font-size: 15px;
}

.button {
    height: 47px;
    padding: 10px 20px;
    background-color: #F3A505;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}