.nav {
    display: flex;
    height: 60px;
}

.link {
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
    padding: 20px;

    font-weight: 500;
    font-size: 18px;
    color: #f0f0f0;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3)
}

.link:last-child {
    margin-right: auto;
    margin-left: 10px;
}

.activeLink {
color: #F3A505;
}